html { 
  background: url(../images/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.prof-box{
	width: 400px;
	height: 450px;
	background:rgba(0,0,0,0.4); 
	padding: 40px;
	color:white;
	 margin-left: 120px;
	margin-top:140px;
	text-align: center;
}
.prof-pic{
 	border-radius: 50%;
 	height:200px;
 	width:200px;

}
h1{
	font-weight: 100;
  letter-spacing: 6;
  font-size: 40px;
}
.social-icon{
font-size: 60px;

}